include README.md
include gaitutils/default.cfg
recursive-include gaitutils/nexus_scripts *.ui
recursive-include gaitutils/assets *
recursive-include gaitutils/data *
recursive-include gaitutils/thirdparty *
